/* =========================
   BASE
========================= */
.contact {
  padding: 80px 20px;
  background: #fff;
  font-family: "Poppins", sans-serif;
}

.contact__container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
}

/* =========================
   LEFT CONTENT
========================= */
.contact__title {
  font-size: 3rem;
  margin-bottom: 10px;
}

.contact__subtitle {
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.contact__buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

.contact-btn {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 14px 20px;
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.contact-btn img {
  width: 22px;
}

/* Button colors */
.whatsapp {
   background: #25D366; 
  width: 200px;}
.call {
   background: #f2c55a; 
    width: 200px;
  }
.instagram {
  background: linear-gradient(45deg, #f09433, #dc2743, #bc1888);
   width: 200px;
}
/* =========================
   INFO
========================= */
.contact__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact__info p{
  color: #f2c55a;
}


.info-box {
  display: flex;
  gap: 15px;
  align-items: flex-start;
}

.info-box img {
  width: 28px;
}

/* =========================
   MAP
========================= */
.contact__map img {
  width: 100%;
  border-radius: 12px;
}
/* =========================
   TABLET
========================= */
@media (max-width: 1024px) {
  .contact__container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .contact__title {
    font-size: 2.4rem;
  }
}

/* =========================
   MOBILE
========================= */
@media (max-width: 768px) {
  .contact {
    padding: 60px 16px;
  }
  
.call img{
  margin-left: -40px;
}


  .contact__container {
    grid-template-columns: 1fr;
  }

  .contact__title {
    font-size: 2rem;
    text-align: center;
  }

  .contact__subtitle {
    text-align: center;
  }

  .contact__buttons {
    align-items: center;
  }

  .contact-btn {
    width: 100%;
    justify-content: center;
  }

  .contact__info {
    align-items: flex-start;
    margin-left: 40px;
  }
}

/* =========================
   SMALL MOBILE
========================= */
@media (max-width: 480px) {
  .contact__title {
    font-size: 1.8rem;
  }

  .contact-btn {
    font-size: 0.95rem;
  }
}
